[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
tensorflow = "==1.15.2"
pandas = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.7.12"
